<h1>Create a Knicks player!</h1>

<main class="create_knicks_player" role ="main">
  <form method="post" action="/knicks">

    <label>Name:</label>
    <input id="create_knicks_player" name="knick[name]" type="text" value="<%=@knick.try(:name)%>">


    <label for="jersey_number">Jersey Number:</label>

    <input id="jersey_number" name="knick[jersey_number]" type= "text" value="<%=@knick.try(:jersey_number)%>">

    <label for="position">Position:</label>
    <input id="position" name="knick[position]" type="text" value="<%=@knick.try(:position)%>">

    <input type="submit" value="Create Player!" class="button">
  </form>
</main>

